<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Techie Blogger</title>
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="flex-column justify-space-around">
      <header class="display-flex justify-space-between align-center">
        <nav>
            <a href="/homepage">Home</a>
            <a href="/dashboard">Dashboard</a>

          {{#if logged_in}}
            <a href="/login">Login</a>
            |
            <a href ="/logout" class="no-button" id="logout">Logout</a>
          {{else}}
            <a href="/login">login</a>
          {{/if}}
        </nav>
      </header>
    </div>
        <h1 class="techie-blogger">Techie Blogger</h1>
      <main class="container container-fluid mt-5">
        {{{body}}}
      </main>
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>