<h2>Techie Blogger</h2>
{{#if posts.length}}
<section>
    <ul class="post-list">
        {{#each posts as |post|}}
        <ul>
            {{> post-info post}}
            <a href="/d/{{post.id}}" class="edit-link">Edit post</a>
        </ul> 
        {{/each}}
    </ul>
</section>
{{/if}}
<section class="new-post-section">
    <button type="submit" class="btn" id="create-new post">Create a new post</button>
</section>

{{!-- <script src="/dashboard"></script> --}}